<script type="text/javascript" src="//pubnub.github.io/eon/v/eon/1.0.0/eon.js"></script>
<link type="text/css" rel="stylesheet" href="//pubnub.github.io/eon/v/eon/1.0.0/eon.css"/>

<div id="chart"></div>
<script>
  var pubnub = new PubNub({
    publishKey : 'pub-c-6a280745-fb91-471d-a9bd-117e5d47c756',
    subscribeKey : 'sub-c-66a216ea-f298-11e6-af0f-0619f8945a4f'
  });

  eon.chart({
    pubnub: pubnub,
    channels: ["Tele2Uplink"],
    generate: {
      bindto: '#chart',
      data: {
        labels: true
      }
    },
    transform: function(data) {
      var obj = JSON.parse(data);

      return {
        "eon": {
          "temp": atob(obj.data.toString()),
          "_eonDatetime": new Date().getTime()
        }
      }
    }
  });
</script>
